html
  head
    title Rockset shortlinks 404
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,600")
  body(style="font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif")
    div.container
      h1(style="color: #cb7512; font-size: 12em; text-align: center;") 404
      br
      h3(style="text-align: center;") The specified redirect could not be found
